body, html {
  height: 100%;
  margin: 0; 
  padding: 0;
}

body {

  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).webp");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  